<app-topnav></app-topnav>
<div class="pen-title">
  <h1>Telephone Town Hall</h1>
  <h2>Please enter your credentials</h2>
</div>
<div class="container-fluid">
  <div class="row" *ngIf="showUsernamePassword">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Login with Username</h4>
        </div>
        <div class="panel-body">
          <form (submit)="login($event, username.value, password.value, null)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" required #username>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" required #password>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="reset" class="btn btn-primary">Reset</button>
            <button (click)="togglePin()" type="button" class="btn btn-link">Login with PIN</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!showUsernamePassword">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Login With PIN</h4>
        </div>
        <div class="panel-body">
          <form (submit)="login($event, null, null, pin.value)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="PIN" required #pin>
            </div>
            <button type="submit" class="btn btn-primary">Login</button> <button type="reset" class="btn btn-primary">Reset</button>
            <button (click)="togglePin()" type="button" class="btn btn-link">Login with Username/Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<span defaultOverlayTarget></span>
