<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span>Telephone </span>Town Hall</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" *ngIf="showTopLinks">
                    <li [ngClass]="{'active': isSetupActive }"><a [ngClass]="{'pointer': !isSetupActive }" (click)="navigate('setup')" >SETUP <span class="sr-only">()</span></a></li>
                    <li [ngClass]="{'active': isControlActive }"><a [ngClass]="{'pointer': !isControlActive }" (click)="navigate('control')">CONTROL</a></li>
                    <li [ngClass]="{'active': isListenActive }"><a [ngClass]="{'pointer': !isListenActive }" (click)="navigate('listen')">LISTEN</a></li>
                    <li [ngClass]="{'active': isReportActive }"><a [ngClass]="{'pointer': !isReportActive }" (click)="navigate('report')">REPORT</a></li>
                </ul>

                <ul class="user-menu" *ngIf="authUser">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <svg class="glyph stroked male-user">
                                <use xlink:href="#stroked-male-user"></use>
                            </svg>
                            {{authUser?.data.fullname}}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" (click)="logout($event)">
                                <svg class="glyph stroked cancel">
                                    <use xlink:href="#stroked-cancel"></use>
                                </svg>
                                Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
