<app-topnav></app-topnav>
<br>
<div class="container">
    <div class="jumbotron" align="center">
        <h1>Welcome to the</h1>
        <h1>Conference Dashboard</h1>
        <p>From here you can manage, setup, listen to, and view reports for your conferences</p>
        <p>

            <a class="btn btn-large btn-primary" routerLink="/login/setup" id="setupBtn">
                <span class="glyphicon glyphicon-edit"></span><br>Setup</a>
            <span style="width: 10px;">&nbsp;</span>
            <a class="btn btn-large btn-primary" routerLink="/login/control" id="confBtn">
                <span class="glyphicon glyphicon-dashboard"></span><br>Control</a>
            <span style="width: 10px;">&nbsp;</span>
            <a class="btn btn-large btn-primary" routerLink="/listen" id="listenBtn">
                <span class="glyphicon glyphicon-headphones"></span><br>Listen</a>
            <span style="width: 10px;">&nbsp;</span>
            <a class="btn btn-large btn-primary" routerLink="/report" id="reportBtn">
                <span class="glyphicon glyphicon-export"></span><br>Report</a>
        </p>
    </div>
</div>