vertical-split-separator, horizontal-split-separator {
    background: #ffffff !important;
    border: 0 !important;
    position: relative;
}

div.handle {
    background: #ffffff !important;
}

.green-border {
    border: 2px solid green
}

:host {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}